---
import Layout from "@/layouts/Layout.astro";
import Sectionhead from "@/components/sectionhead.astro";
---

<Layout title="About">
<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
   <h1 class="max-w-xl font-display text-4xl leading-tight text-foreground md:text-[2.8rem]">Mision</h1>
<p class="text-sm text-muted-foreground">Asylon tiene su origen en el griego y significa: “se refiere a un lugar o persona que es considerado inviolable o "que no puede ser tomado", del cual nadie puede ser expulsado o perturbado sin permiso. En la antigua Grecia, tenía dos significados principales: la garantía de seguridad concedida a personas como atletas o embajadores, y el refugio sagrado ofrecido por templos a personas perseguidas, haciendo valer el valor de la hospitalidad y la inviolabilidad de lugares sagrados.” 
Teniendo en cuenta la constante evolución de la tecnología, los riesgos y consecuencias de sus usos, y las personas como individuo necesario para su adopción, adaptación, mejora y consumo es que Asylon comparte y difunde material educativo sobre las mismas y su impacto a fin que las familias e instituciones puedan entender las tecnologías que los rodea y desde ese entendimiento poder decidir en libertad que adoptar o no.</p>
 </div>
<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
<h1 class="max-w-xl font-display text-4xl leading-tight text-foreground md:text-[2.8rem]">Vision</h1>
<p class="text-sm text-muted-foreground">Se entiende que una postura 100 % cerrada a la tecnología no es posible como tampoco lo es una adopción 100% sin ninguna clase de evaluación y entendimiento de lo que estamos aceptando. Es a través de este entendimiento que cada familia o institución, aceptará un nivel de tolerancia a su uso y con ello podrá con total independencia elegir cuales son sus permitidos y cuáles no.
Asylon es una plataforma con fines educativos orientada a la divulgación de contenido permitiendo a aquellos que lo necesitan ser un un mapa de papel con el cual cada individuo pueda elegir el camino que le resulta más interesante y no simplemente el más corto o con menos congestión de tráfico o el más elegido como lo haría un gps.</pZ
  </div>
  <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
 <h4 class="mt-2 font-display text-3xl text-foreground md:text-4xl">No hay cosas que temer, solo hay cosas que comprender.</h4>
  </div>
</Layout>
