---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import SpotlightArticles from "@/components/SpotlightArticles.astro";
import LatestArticles from "@/components/LatestArticles.astro";
import Newsletter from "@/components/Newsletter.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const featured = posts[0]

const latestPosts = posts
  .sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime())
  .slice(0, 6);
---

<Layout title="Asylon - Blog">
  <div class="mx-auto max-w-6xl px-6 pb-16 pt-10 md:pt-16">
    <Hero featured={featured} />
    <SpotlightArticles posts={posts.slice(1, 5)} />
    <LatestArticles posts={latestPosts} />
    <Newsletter />
  </div>
</Layout>
